<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GraphColors</key>
	<dict>
		<key>1</key>
		<string>0;170;234;255</string>
		<key>2</key>
		<string>136;200;74;255</string>
		<key>3</key>
		<string>255;145;0;255</string>
		<key>4</key>
		<string>133;206;255;255</string>
		<key>5</key>
		<string>36;185;93;255</string>
		<key>6</key>
		<string>217;186;87;255</string>
		<key>7</key>
		<string>248;75;0;255</string>
		<key>8</key>
		<string>173;214;175;255</string>
		<key>9</key>
		<string>0;165;162;255</string>
		<key>10</key>
		<string>121;231;230;255</string>
		<key>11</key>
		<string>11;109;68;255</string>
		<key>12</key>
		<string>255;195;156;255</string>
		<key>13</key>
		<string>47;63;130;255</string>
		<key>14</key>
		<string>218;114;0;255</string>
		<key>15</key>
		<string>145;107;253;255</string>
		<key>16</key>
		<string>153;50;55;255</string>
		<key>17</key>
		<string>124;206;236;255</string>
		<key>18</key>
		<string>165;53;0;255</string>
		<key>19</key>
		<string>254;0;70;255</string>
		<key>20</key>
		<string>170;1;48;255</string>
		<key>21</key>
		<string>255;174;235;255</string>
		<key>22</key>
		<string>199;71;252;255</string>
		<key>23</key>
		<string>255;215;168;255</string>
		<key>24</key>
		<string>0;100;96;255</string>
		<key>25</key>
		<string>255;193;193;255</string>
		<key>26</key>
		<string>0;78;118;255</string>
		<key>27</key>
		<string>238;195;249;255</string>
		<key>28</key>
		<string>254;72;40;255</string>
		<key>29</key>
		<string>238;0;190;255</string>
		<key>30</key>
		<string>153;36;110;255</string>
		<key>31</key>
		<string>255;167;186;255</string>
		<key>32</key>
		<string>111;59;130;255</string>
	</dict>
</dict>
</plist>
